<div  class="content-div-main-index">
  <div class="div-main-index">
    <div class="content-card">
      <div class="details-moto card-moto">
        <img class="img-motos" src="/{{path}}" alt="" />
        <h3>Modelo: "{{modelo}}"</h3>
        <p>Descripcion : {{descripcion}}</p>
      </div>
      <div class="content-btn-moto">
        <a
          href="/entrar/login/get/{{this._id}}/delete"
          class="btns-card"
        >Eliminar</a>
        <a href="/entrar/login/get/{{this._id}}/editar" class="btns-card">Editar</a>
        <a href="/entrar/login/get"  class="btns-card">Regresar</a>
      </div>
      
    </div>
    
  </div>
  
</div>